asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
Django==5.2
idna==3.10
requests==2.32.4
sqlparse==0.5.3
urllib3==2.4.0
django_channels==0.7.0
django_filter==23.3
django_import_export==3.3.1
django_tables2==2.6.0
djangorestframework==3.14.0
fcm_django==2.0.0
firebase_admin==6.2.0
pandas==2.2.3
redis==5.0.7
openpyxl==3.1.2
gunicorn==21.2.0
psycopg2_binary==2.9.9
django-prometheus==2.3.1
django-bootstrap4==23.2
celery==5.3.6
channels==4.0.0
yookassa==3.3.0
django-prometheus==2.3.1