.env
/venv
WebTemplate/.coverage
WebTemplate/htmlcov/
WebTemplate/Documents/
WebTemplate/conf/
WebTamplate/static/admin/
WebTamplate/static/django_tables2/
WebTamplate/static/rest_framework/
WebTamplate/Documents/logs/*
WebTamplate/.DS_Store
.DS_Store
.idea/
WebTemplate/.DS_Store
.env.local
.env.*.local

# Certificates
WebTemplate/certificates/*.key
WebTemplat/ecertificates/*.pem
WebTemplate/!certificates/*.example

# Auth files
WebTemplate/conf/.htpasswd