{%  extends 'main/base.html'%}

{% block title %}
Восстановление пароля
{% endblock %}

{% block content %}
<br><br>

<div class="container">
    <div class="col-sm-6">
        <div class="panel-heading h2">Форма восстановления пароля</div>
        <br>
        <div class="panel-body">
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <label for="email">Введите корпоративную почту для восстановления пароля:  </label>
                <br><br>
                <input class="form-control" style="width: 250px;" placeholder="Email" type="email" name="email" required>
                <br>
                <button class="btn btn-dark" type="submit">Запросить</button>
            </form>

        </div>
    </div>
</div>

<br><br><br><br>
{% endblock %}
