{%  extends 'main/base.html'%}

{% block title %}
Форма регистрации
{% endblock %}

{% block content %}

<br><br>
<div class="row">
<div class="col-md-3 col-1"></div>
<div class="col-md-6 col-12">
<div class="ui raised very padded segment">


<div class="container">

        <div class="text-center mb-5">
            <h1 class="ui header">Создать аккаунт</h1><p class="text-muted">Заполните форму для регистрации</p>
        </div>


        <form class="ui form" action="{% url 'users:signup' %}" method="post">
            {% csrf_token %}

            <div class="field"><label>Логин:</label><div class="ui left icon input"><i class="user icon"></i>{{form.username}}</div></div>
            <div class="field"><label>Имя:</label><div class="ui left icon input"><i class="user icon"></i>{{form.first_name}}</div></div>
            <div class="field"><label>Фамилия:</label><div class="ui left icon input"><i class="user icon"></i>{{form.last_name}}</div></div>
            <div class="field"><label>Рабочая почта:</label><div class="ui left icon input"><i class="envelope icon"></i>{{form.email}}</div></div>
            <div class="field"><label>Пароль:</label><div class="ui left icon input"><i class="lock icon"></i>{{form.password1}}</div></div>
            <div class="field"><label>Подтверждение пароля:</label><div class="ui left icon input"><i class="lock icon"></i>{{form.password2}}</div></div>


            <input type="submit" class="btn btn-dark" value="Регистрация"/>
        </form>

</div>

<br><br><br><br>
</div></div></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('input[name="password1"], input[name="password2"]').forEach(function(input) {
            input.classList.add('form-control');
        });
    });
</script>
{% endblock %}
